<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="/css/404.css" />
</head>
<body>
    <div class="container">
        <h1>Oops! You ran out of oxygen.</h1>
        <p>The page you're looking for is now beyond our reach.</p>
        <p>Let's get you back home.</p>
        <a href="/">Back to Home</a>
        <br />
    </div>
</body>
</html>
