<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <!-- Latest compiled and minified Bootstrap 5 CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/about.css" />

        <title>WEB322 - Assignment Template</title>
    </head>
    <body>
        <div class="container" style="padding-top: 90px;">
            <div class="row">
                <aside class="col-md-3">
                    <h2>Comming Soon</h2>
                    <p>About my routine for next week, assignments and tests given at school, and things I have to do...</p>
                </aside>
                <section class="main col-md-9">
                    <article>
                        <h2>About</h2>
                        <p>
                            My usual routine starts with waking up at 7:50. I get up and make my bed first. 
                            Then, I read a book with information I find useful for life for about 40 minutes and write down my thoughts. 
                            After that, I spend 20 minutes memorizing English vocabulary and solving daily listening and reading exercises.
                        </p>
                        <p>
                            At 8:50, I prepare breakfast. First, I microwave the rice for 2 minutes and 30 seconds. 
                            At the same time, I heat some oil in an electric pan. Once it's hot enough, I crack two eggs into the pan to make fried eggs. 
                            When the rice is done, I take it out of the microwave, open a can of tuna, and place it next to the rice. 
                            Then, I add some mayonnaise to the tuna and mix it together. Afterward, I place the fried eggs on top of the rice. 
                            I enjoy this meal with kimchi and some morning juice.
                        </p>
                        <p>
                            After breakfast, I take various supplements: magnesium, lutein, multivitamins, and milk thistle. 
                            Then, I wash the dishes and get ready for the day. 
                            I wash my face, shave, wash and dry my hair, change clothes, and pack my laptop and water bottle in my bag. 
                            I usually leave the house around 9:40. After attending my first and second classes, I return home around 1:30.
                        </p>
                        <p>
                            At 1:30, I eat a banana and a tangerine for lunch. I then rest or do homework until 3:00. At 3:00, I head to the gym for my workout. 
                            I divide my workouts into four sessions throughout the week: chest and triceps, back and quadriceps, lower body, and shoulders. 
                            After working out for about one to two hours, I return home and prepare dinner right away. 
                            My dinner is the same every day: teriyaki chicken breast marinated in honey garlic sauce and stir-fried with sliced onions. 
                            For sides, I have a vegetable salad with Caesar dressing, rice, and kimchi.
                        </p>
                        <p>
                            After dinner, I wash the dishes and take a shower. Feeling refreshed, I begin the second part of my day, which consists of doing homework. 
                            I usually spend about four hours, from 6 to 10, studying or completing assignments. 
                            Once I finish by 10, I have about an hour of free time before bed. During this time, 
                            I do things I wanted to do during the day, such as watching YouTube, relaxing, and unwinding before going to sleep.
                        </p>
                    </article>
                </section>
            </div>
        </div>

        <!-- Latest compiled and minified Bootstrap 5 JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>